PORT=8000
DATABASE_URL=
REDPANDA_BROKERS=
PUBLIC_BASE_URL=

# Nomba account
NOMBA_BASE_URL=
NOMBA_ACCOUNT_ID=
NOMBA_SUB_ACCOUNT_ID=

# Nomba credentials (use TEST for local dev, LIVE for production)
NOMBA_CLIENT_ID=
NOMBA_PRIVATE_KEY=

# Webhook
WEBHOOK_SIGNING_SECRET=
